.navbar-collapse {
  text-align: center;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
@media only screen and (min-width: 768px) {
  .nav-link {
    margin-right: 10px;
    width: 100px;
  }
  #mybtn {
    margin-top: 7%;
  }
  .input-group {
    margin-top: 7%;
  }
  #left {
    margin-left: 25% !important;
    width: 50% !important;
    height: 100vh;
  }
  #right {
    margin-left: 75% !important;
    width: 50% !important;
    height: 100vh;
  }
  #center {
    margin-left: 50% !important;
    width: 80% !important;
    height: 100vh;
  }
  .content {
    top: 0;
    left: 0;
    position: absolute;
    margin-top: 50vh;
    text-align: center;
    margin-left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
  }
  h1 {
    font-size: 4em !important;
  }
  p {
    font-size: 1.3em !important;
  }
}
.nav-item :hover {
  background-color: black;
  color: white !important;
}
.text {
  position: absolute;
  margin-top: 50vh;
  text-align: center;
  margin-left: 50%;
  width: 90vw;
  padding: 30px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.747);
  color: black;
}
.slide-heading {
  font-size: 3em;
}
.slide-para {
  font-size: 1.2em;
}
#our_mission {
  /* The image used */
  background-image: url("work.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#need {
  /* The image used */
  background-image: url("donations.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#help{
  /* The image used */
  background-image: url("volunteer.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#location {
  /* The image used */
  background-image: url("location.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#team {
  /* The image used */
  background-image: url("meet.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#connect{
  /* The image used */
  background-image: url("connect.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-item {
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#first-item {
  background-image: url(first_slide.jpg);
}
#second-item {
  background-image: url(second_slide.jpg);
}
#third-item {
  background-image: url(third_slide.png);
}

/* Three columns side by side */
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
